server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true # Servisleri otomatik bulmayı açar
          lower-case-service-id: true
      routes:
        - id: payment-service
          uri: lb://PAYMENT-SERVICE  # Eureka'daki isme git
          predicates:
            - Path=/api/payment/** # /api/payment ile başlayanları yakala
          filters:
            - RewritePath=/api/payment/(?<segment>.*), /$\{segment} # /api/payment kısmını silip ilet

globalcors:
  cors-configurations:
    '[/**]':
      allowedOrigins:
        - "http://localhost:5173"  # Frontend'in adresi
      allowedMethods:
        - GET
        - POST
        - PUT
        - DELETE
        - OPTIONS
      allowedHeaders: "*"
      allowCredentials: true
eureka:
  client:
    service-url:
      # EUREKA_URI tanımlıysa onu kullan (Docker), yoksa localhost'u kullan.
      defaultZone: ${EUREKA_URI:http://localhost:8761/eureka/}